.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{

  width: 100vw;
  height: 100vh;
}


 .circle{
  width: 150px;
  height: 150px;
  background-color: #fff;

  box-shadow: 0px 0px 0px #0ff;
}

.circle:hover{

  width: 150px;
  height: 150px;
  background-color: #fff;

  box-shadow: 0px 0px 10px #0ff;


}

.glow{

  
  font-size: 18px;
  font-weight: bold;
  background-color: #00ffaf;
  box-shadow: 0px 0px 0px #0ff;

}


.glow:hover{


  background-color: #e9f5f7;

  box-shadow: 0px 0px 10px #0ff;


}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
